@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');

body {
    text-align: center;
    background-color: #283149;
    font-family: 'Arvo', cursive;
    color: white;
    text-shadow: 3px 0 #DA0463;
}

h1 {
    font-size: 7rem;
}

.drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}

.q {
    background-image: url("../imgs/tom1.png");
}

.w {
    background-image: url("../imgs/tom2.png");
}

.e {
    background-image: url("../imgs/tom3.png");
}

.r {
    background-image: url("../imgs/tom4.png");
}

.t {
    background-image: url("../imgs/kick.png");
}

.y {
    background-image: url("../imgs/crash.png");
}

.u {
    background-image: url("../imgs/snare.png");
}

.pressed {
    opacity: 0.5;
}