body {
    text-align: center;
    color: #4ECCA3;
    font-family: 'Nunito', cursive;
    background-color: #393E46;
}

.container {
    margin-top: 10rem;
    font-size: 5rem;
}

img {
    height: 10rem;
    width: 10rem;
}

.headers {
    font-size: 2rem;
}

h1 {
    border-bottom: 1px solid #882f02;
}